<% content_for :title do %>
  Corsego | All Enrollments
<% end %>
<!-- <p id="notice"><%#= notice %></p> -->

<h3>
  <div class="text-center">
    Enrollments
    <div class="badge alert-info">
      <%= @enrollments.count %>
    </div>
  </div>
</h3>

<%= search_form_for @q do |f| %>
  <%= f.search_field :user_email_cont, placeholder: 'user email' %>
  <%= f.search_field :course_title_cont, placeholder: 'course title' %>
  <%= f.search_field :price_eq, placeholder: 'price' %>
  <%= f.search_field :rating_eq, placeholder: 'rating' %>
  <%= f.search_field :review_cont, placeholder: 'review' %>
  <%= f.submit %>
<% end %>
<%= link_to 'refresh', enrollments_path %>

<div class="table-responsive">
  <table class="table table-bordered table-striped table-sm table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th><i class="fa fa-user"></i> <%= sort_link(@q, :user_email) %></th>
        <th><i class="fa fa-clock"> <i class="fa fa-lock-open"></i></i> <%= sort_link(@q, :created_at) %></th>
        <th><i class="fa fa-graduation-cap"> <%= sort_link(@q, :course_title) %></th>
        <th><i class="fa fa-rupee-sign"></i> <%= sort_link(@q, :price) %></th>
        <th><%= sort_link(@q, :updated_at) %><br><i class="fa fa-clock text-warning"></i> Reviewed on</th>
        <th><%= sort_link(@q, :rating)%><br><i class="fa fa-star text-warning"></i> Rating</th>
        <th><i class="fa fa-comment text-warning"></i> Review</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @enrollments.each do |enrollment| %>
        <tr>
          <td><%= enrollment.id %></td>
          <td><%= link_to enrollment.user, user_path(enrollment.user) %></td>
          <td><%= enrollment.created_at.strftime("%d-%b-%Y - %H:%M") %></td>
          <td><%= link_to enrollment.course, course_path(enrollment.course) %></td>
          <td><%= number_to_currency(enrollment.price, unit: "₹") %></td>
          <td><%= enrollment.updated_at.strftime("%d-%b-%Y - %H:%M") if enrollment.rating.present? %></td>
          <td><%= enrollment.rating %></td>
          <td><%= enrollment.review %></td>
          <td><%= link_to 'See Review', enrollment %></td>
          <td><%= link_to 'Add Review', edit_enrollment_path(enrollment) %></td>
          <td><%= link_to 'Delete Enrollment', enrollment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%== pagy_bootstrap_nav(@pagy) %>
<br>
