<% content_for :title do %>
  Corsego | Course <%= @course.title %> | Editing lesson <%= @lesson.title %>
<% end %>

<%= link_to 'Courses', courses_path %>
>
<%= link_to @lesson.course.title, course_path(@lesson.course) %>
>
<%= link_to @lesson.title, course_lesson_path(@course, @lesson) %>
>
edit

<div class="card">
  <div class="card-header">
    <h3><i class="far fa-check-square"></i> Editing Lesson</h3>
  </div>
  <div class="card-body">
    <%= render 'form', lesson: @lesson %>
  </div>
  <div class="card-footer">
    <%= link_to 'Show lesson', course_lesson_path(@course, @lesson) %> |
    <%= link_to 'Back to course', course_path(@lesson.course) %>
  </div>
</div>
