<div class="container">
  <%= simple_form_for(@course) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.input :title %>
      <%= f.label :description %>
      <%= f.rich_text_area :description %>
      <small>
        <%= f.error :description, class: 'text-danger' %>
      </small>
      <%= f.input :short_description %>
      <%= f.input :language, collection: Course.languages, include_blank: true %>
      <%= f.input :level, collection: Course.levels, include_blank: true %>
      <%= f.input :price %>
    </div>

    <div class="form-actions mt-2">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
