<% content_for :title do %>
  Corsego | <%= @course.title %>
<% end %>

<%= link_to 'Courses', courses_path %>
>
<%= link_to @course.title, course_path(@course) %>


<div class="row">
  <!-- <div class="col"> -->
    <%= render 'courses/course', course: @course %>
  <!-- </div> -->
  <div class="col">
    <%= link_to 'Add lesson', new_course_lesson_path(@course, @lesson), class: 'btn btn-sm btn-primary' %>
    <p></p>
    <% @lessons.each do |lesson| %>
      <%= render 'lessons/lesson', lesson: lesson %>
    <% end %>
  </div>
</div>
